body{
	font-family: sans-serif;;
	margin: auto;
	width: 1500px;


	
}
table{
	width: 1500px;
	height :500px;
	margin: 20px auto;
	

}
header{
	
	
	
margin-top: 50px;
}
.navigation a{
	background-color: #4CAF50;
    color: white;
	text-decoration: none;
	display: inline-block;
    padding: 8px 30px;
    margin: 0px 5px;
}
.navigation{
	
	width :1500px;
    background-color: #d9d9d9;
}
.navigation a:hover {
    background-color: #333;
    color: white;
}
.logoimage{
	float: left;
	width: 30%;
	height:80px;

}
.nav-text{
	   
color: #70adc2;
}
h4{
	   padding-left: 500px;
}
.nav-bar{

}


.column1
{
	width :500px;
	height :500px;
}
.column1 img
{
	margin-left: 100px;
	margin-bottom: 25px;
	width :300px;
	height :200px;

}
.column2
{
	
	
	width :500px;
	height :500px;
}
.column2 img
{
	margin-left: 100px;
	margin-bottom: 25px;
	width :300px;
	height :200px;

}
.column3
{	
	
	width :500px;
	height :500px;
}
.column3 img
{
	
	margin-left: 100px;
	margin-bottom: 25px;
	width :300px;
	height :200px;

}
.content h5{
margin-left: 50px;
margin-right: 50px;

}
.container{
	width: 1500px;
	height: 790px;
	margin-top: 0px;
	background-color: #ffe6ff;
	overflow: hidden;

}
.inner-container{
	width: 1500px;
	height: 300px;

}
.inner-container img{
margin-top: 30px;
}
/*
@keyframes photo-slider{
	0% {
		left: 0px;
	}
	30% {
		left: 0px;
	}
	35%{
		left: -200px;
	}
	66% {
		left: -200px;
	}
	100% {
		left: -400px;
	}
}
.photo-slider{
	overflow: hidden;
}
.photo-slider figure img{
	
	float: left;

}
.photo-slider figure{
	position: relative;
	width: 300;
	margin: 0;
	left: 0;
	animation: 5s photo-slider infinite;
}*/